{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="styles.css">
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .background {
        background-color: #f3f7fd;
    }

    header {
        padding: 0;
        margin: 0;
    }

    main {
        padding-top: 0px;
    }
   
    .container{
        width: 50%;
        background-color: lightblue;
        padding: 20px;
        border:2px black solid ;
        height: 120vh;
        border-radius: 10px;
        margin: 10px auto;
    }
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: #fff;
        color: #333;
    }

    /* Style the options within the dropdown */
    select option {
        padding: 10px;
        background-color: #fff;
        color: #333;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="container " >
        <div>
            <p>
                {{message}}

            </p>
        </div>
        
        <div >
                
                <!-- Form Column -->
                <div >
                    <form action="{% url 'logged' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-2 " style="margin-top: 30px ;">
                            <label> <h1 style="color: rgb(50, 66, 168)">Login in to</h1></label><br>
                        </div>
                        <div class="mb-4">
                            <label> <h1 style="color: rgb(50, 66, 168)">Attendence Management system</h1></label><br>
                            <p class="mt-4 mb-4">Our place to manage your<b> Class Attendence</b> </p>
                        </div>
                        <div class="mb-4">
                            <label for="user_type">User Type:</label>
                            <select id="user_type" name="user_type" class="form-select" required>
                                <option value="student">Student</option>
                                <option value="teacher">Teacher</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="name">USERNAME:</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="mb-4">
                            <label for="text">Course Code:</label>
                            <input type="text" id="coursecode" name="coursecode" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary " style="margin-bottom: 200px;">Login</button>
                    </form>
                </div>
              
            </div>
           
        </div>
    </main>

    {% endblock %}